<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dxt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Desktop Extension</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.indragie.Context</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app.contextmcp</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://stats.store/api/v1/appcast/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>oHCnTChJwkguvr4nCfAJupUglweocNBqjRXu3b7NLoU=</string>
</dict>
</plist>
